body {
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
